In [11]:
import sqlite3

In [12]:
connection = sqlite3.connect('movies.db')

In [13]:
cursor = connection.cursor()

In [14]:
cursor.execute(''' CREATE TABLE IF NOT EXISTS Movies
        (Title TEXT, Director TEXT, Year INT)''')

In [15]:
connection.commit()

In [16]:
connection.close()

In [17]:
def square(num):
    for n in range(1, num):
        yield n ** 2


print(square(10))

<generator object square at 0x0000020098CA9A50>